In [1]:
import pandas as pd

In [2]:
file="food.csv"
data= pd.read_csv(file)
data

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Ash,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0,0.06,215,19,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7408,FROG LEGS,"FROG LEGS,RAW",80200,0,1.40,0,0,0.00,50,65,...,285,58,1.00,50,15,0.40,0.120,0.0,1.00,0.1
7409,MACKEREL,"MACKEREL,SALTED",83110,0,13.40,0,0,0.00,95,95,...,520,4450,1.10,157,47,12.00,0.410,0.0,2.38,7.8
7410,SCALLOP,"SCALLOP,(BAY&SEA),CKD,STMD",90240,0,3.06,0,0,0.00,53,81,...,476,265,3.00,100,30,1.30,0.100,0.0,1.50,0.2
7411,SNAIL,"SNAIL,RAW",90560,0,1.30,0,0,2.00,50,65,...,382,70,1.00,100,30,0.50,0.130,0.0,5.00,0.1
7412,TURTLE,"TURTLE,GREEN,RAW",93600,0,1.20,0,0,0.00,50,65,...,230,68,1.00,100,30,1.00,0.120,0.0,0.50,0.1

In [34]:
#removal of columns that we won't use from the first csv
food_analysis_df= data[['Category', 'Description', 'Nutrient Data Bank Number','Data.Carbohydrate', 'Data.Cholesterol', 'Data.Fiber', 'Data.Kilocalories', 'Data.Protein', 'Data.Sugar Total', 'Data.Water', 'Data.Fat.Monosaturated Fat', 'Data.Fat.Polysaturated Fat', 'Data.Fat.Saturated Fat', 'Data.Fat.Total Lipid', 'Data.Major Minerals.Copper', 'Data.Major Minerals.Iron', 'Data.Major Minerals.Magnesium', 'Data.Major Minerals.Phosphorus','Data.Major Minerals.Potassium', 'Data.Major Minerals.Sodium', 'Data.Major Minerals.Zinc', 'Data.Vitamins.Vitamin A - IU','Data.Vitamins.Vitamin A - RAE','Data.Vitamins.Vitamin B12', 'Data.Vitamins.Vitamin B6', 'Data.Vitamins.Vitamin C', 'Data.Vitamins.Vitamin E', 'Data.Vitamins.Vitamin K']]
food_analysis_df.head()

,Category,Description,Nutrient Data Bank Number,Data.Carbohydrate,Data.Cholesterol,Data.Fiber,Data.Kilocalories,Data.Protein,Data.Sugar Total,Data.Water,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0.06,215,0.0,717,0.85,0.06,15.87,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0.06,219,0.0,717,0.85,0.06,15.87,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0.00,256,0.0,876,0.28,0.00,0.24,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,2.34,75,0.0,353,21.40,0.50,42.41,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,2.79,94,0.0,371,23.24,0.51,41.11,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5

In [37]:
nutrients=pd.DataFrame(list(food_analysis_df.columns.values))
nutrients

                                 0
0                         Category
1                      Description
2        Nutrient Data Bank Number
3                Data.Carbohydrate
4                 Data.Cholesterol
5                       Data.Fiber
6                Data.Kilocalories
7                     Data.Protein
8                 Data.Sugar Total
9                       Data.Water
10      Data.Fat.Monosaturated Fat
11      Data.Fat.Polysaturated Fat
12          Data.Fat.Saturated Fat
13            Data.Fat.Total Lipid
14      Data.Major Minerals.Copper
15        Data.Major Minerals.Iron
16   Data.Major Minerals.Magnesium
17  Data.Major Minerals.Phosphorus
18   Data.Major Minerals.Potassium
19      Data.Major Minerals.Sodium
20        Data.Major Minerals.Zinc
21    Data.Vitamins.Vitamin A - IU
22   Data.Vitamins.Vitamin A - RAE
23       Data.Vitamins.Vitamin B12
24        Data.Vitamins.Vitamin B6
25         Data.Vitamins.Vitamin C
26         Data.Vitamins.Vitamin E
27         Data.Vitamins.Vitamin K

In [36]:
nutrients=nutrients[0].str.split(".", expand=True)

                            0               1                  2
0                    Category            None               None
1                 Description            None               None
2   Nutrient Data Bank Number            None               None
3                        Data    Carbohydrate               None
4                        Data     Cholesterol               None
5                        Data           Fiber               None
6                        Data    Kilocalories               None
7                        Data         Protein               None
8                        Data     Sugar Total               None
9                        Data           Water               None
10                       Data             Fat  Monosaturated Fat
11                       Data             Fat  Polysaturated Fat
12                       Data             Fat      Saturated Fat
13                       Data             Fat        Total Lipid
14                       Data  Major Minerals             Copper
15                       Data  Major Minerals               Iron
16                       Data  Major Minerals          Magnesium
17                       Data  Major Minerals         Phosphorus
18                       Data  Major Minerals          Potassium
19                       Data  Major Minerals             Sodium
20                       Data  Major Minerals               Zinc
21                       Data        Vitamins     Vitamin A - IU
22                       Data        Vitamins    Vitamin A - RAE
23                       Data        Vitamins        Vitamin B12
24                       Data        Vitamins         Vitamin B6
25                       Data        Vitamins          Vitamin C
26                       Data        Vitamins          Vitamin E
27                       Data        Vitamins          Vitamin K

## Essential Nutrient Group

In [22]:
#Create essential nutrient group table
essential_nutrient_group= nutrients[[1]].copy()

In [25]:
essential_nutrient_group= essential_nutrient_group.dropna()

In [24]:
essential_nutrient_group= essential_nutrient_group.rename(columns={1:"group_name"})

In [9]:
essential_nutrient_group['group_name'] = essential_nutrient_group['group_name'].replace(
    {'Carbohydrate': 'Others', 'Cholesterol': 'Others','Fiber': 'Others','Kilocalories': 'Others',
    'Protein': 'Others','Sugar Total': 'Others','Water': 'Others'})

In [10]:
essential_nutrient_group= essential_nutrient_group.drop_duplicates()

In [11]:
essential_nutrient_group

        group_name
3           Others
10             Fat
14  Major Minerals
21        Vitamins

In [12]:
essential_nutrient_group.insert(0,'ID_essengroup',range(1,1+len(essential_nutrient_group)))
essential_nutrient_group

    ID_essengroup      group_name
3               1          Others
10              2             Fat
14              3  Major Minerals
21              4        Vitamins

## Essential Nutrients

In [13]:
essential_nutrients= nutrients[[1,2]].copy()
essential_nutrients= essential_nutrients.dropna()
essential_nutrients= essential_nutrients.drop_duplicates()
essential_nutrients= essential_nutrients.rename(columns={1:"group_name",2:"nutrient_name"})
essential_nutrients.insert(0,'ID_nutrient',range(1,1+len(essential_nutrients)))

essential_nutrients=essential_nutrient_group.merge(essential_nutrients, on="group_name",how='left')
essential_nutrients= essential_nutrients.dropna()
essential_nutrients=essential_nutrients.drop(['group_name'], axis=1)
essential_nutrients

    ID_essengroup  ID_nutrient      nutrient_name
1               2          1.0  Monosaturated Fat
2               2          2.0  Polysaturated Fat
3               2          3.0      Saturated Fat
4               2          4.0        Total Lipid
5               3          5.0             Copper
6               3          6.0               Iron
7               3          7.0          Magnesium
8               3          8.0         Phosphorus
9               3          9.0          Potassium
10              3         10.0             Sodium
11              3         11.0               Zinc
12              4         12.0     Vitamin A - IU
13              4         13.0    Vitamin A - RAE
14              4         14.0        Vitamin B12
15              4         15.0         Vitamin B6
16              4         16.0          Vitamin C
17              4         17.0          Vitamin E
18              4         18.0          Vitamin K

# Food Category

In [14]:
#Create food category table
food_category= data[["Category"]].copy()

In [15]:
food_category= food_category.drop_duplicates()

In [16]:
food_category=food_category.rename(columns={"Category":"desc_category"})

In [17]:
food_category.insert(0,'ID_category',range(1,1+len(food_category)))
food_category

      ID_category           desc_category
0               1                  BUTTER
2               2              BUTTER OIL
3               3                  CHEESE
44              4               CHEESE FD
47              5             CHEESE SPRD
...           ...                     ...
7402         1179            COCKTAIL MIX
7406         1180  FRUIT-FLAVORED DRK MIX
7408         1181               FROG LEGS
7411         1182                   SNAIL
7412         1183                  TURTLE

[1183 rows x 2 columns]

# Food tbl

In [52]:
#food= data[["Category","Nutrient Data Bank Number","Description"]].copy()

#column=data["Data.Alpha Carotene"].copy()
#food["quantity"]=column
#food["nutrient"]= "Data.Alpha Carotene"
#food

,Category,Nutrient Data Bank Number,Description,nutrient_amount,nutrient
0,BUTTER,1001,"BUTTER,WITH SALT",0,Data.Alpha Carotene
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0,Data.Alpha Carotene
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0,Data.Alpha Carotene
3,CHEESE,1004,"CHEESE,BLUE",0,Data.Alpha Carotene
4,CHEESE,1005,"CHEESE,BRICK",0,Data.Alpha Carotene
...,...,...,...,...,...
7408,FROG LEGS,80200,"FROG LEGS,RAW",0,Data.Alpha Carotene
7409,MACKEREL,83110,"MACKEREL,SALTED",0,Data.Alpha Carotene
7410,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0,Data.Alpha Carotene
7411,SNAIL,90560,"SNAIL,RAW",0,Data.Alpha Carotene
7412,TURTLE,93600,"TURTLE,GREEN,RAW",0,Data.Alpha Carotene

In [53]:
iterate=data.columns[3:]

food_tbl=pd.DataFrame()

for column_name in iterate:
    food= data[["Category","Nutrient Data Bank Number","Description"]].copy()
    column=data[column_name].copy()
    food["quantity"]=column
    food["nutrient"]= column_name
    food_tbl=food_final.append(food, ignore_index=True)

food_tbl

,Category,Nutrient Data Bank Number,Description,quantity,nutrient
0,BUTTER,1001,"BUTTER,WITH SALT",0,Data.Alpha Carotene
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0,Data.Alpha Carotene
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0,Data.Alpha Carotene
3,CHEESE,1004,"CHEESE,BLUE",0,Data.Alpha Carotene
4,CHEESE,1005,"CHEESE,BRICK",0,Data.Alpha Carotene
...,...,...,...,...,...
340993,FROG LEGS,80200,"FROG LEGS,RAW",0.1,Data.Vitamins.Vitamin K
340994,MACKEREL,83110,"MACKEREL,SALTED",7.8,Data.Vitamins.Vitamin K
340995,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.2,Data.Vitamins.Vitamin K
340996,SNAIL,90560,"SNAIL,RAW",0.1,Data.Vitamins.Vitamin K
340997,TURTLE,93600,"TURTLE,GREEN,RAW",0.1,Data.Vitamins.Vitamin K

In [54]:
food_tbl=food_tbl.rename(columns={"Category":"desc_category"})

In [55]:
food_tbl=food_tbl.merge(food_category, on="desc_category",how='left')
food_tbl

,desc_category,Nutrient Data Bank Number,Description,quantity,nutrient,ID_category
0,BUTTER,1001,"BUTTER,WITH SALT",0,Data.Alpha Carotene,1
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0,Data.Alpha Carotene,1
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0,Data.Alpha Carotene,2
3,CHEESE,1004,"CHEESE,BLUE",0,Data.Alpha Carotene,3
4,CHEESE,1005,"CHEESE,BRICK",0,Data.Alpha Carotene,3
...,...,...,...,...,...,...
340993,FROG LEGS,80200,"FROG LEGS,RAW",0.1,Data.Vitamins.Vitamin K,1181
340994,MACKEREL,83110,"MACKEREL,SALTED",7.8,Data.Vitamins.Vitamin K,611
340995,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.2,Data.Vitamins.Vitamin K,659
340996,SNAIL,90560,"SNAIL,RAW",0.1,Data.Vitamins.Vitamin K,1182
340997,TURTLE,93600,"TURTLE,GREEN,RAW",0.1,Data.Vitamins.Vitamin K,1183

In [56]:
food_tbl[['Data','Category','nutrient_name']]=food_tbl['nutrient'].str.split('.',expand=True)
food_tbl

,desc_category,Nutrient Data Bank Number,Description,quantity,nutrient,ID_category,Data,Category,nutrient_name
0,BUTTER,1001,"BUTTER,WITH SALT",0,Data.Alpha Carotene,1,Data,Alpha Carotene,None
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0,Data.Alpha Carotene,1,Data,Alpha Carotene,None
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0,Data.Alpha Carotene,2,Data,Alpha Carotene,None
3,CHEESE,1004,"CHEESE,BLUE",0,Data.Alpha Carotene,3,Data,Alpha Carotene,None
4,CHEESE,1005,"CHEESE,BRICK",0,Data.Alpha Carotene,3,Data,Alpha Carotene,None
...,...,...,...,...,...,...,...,...,...
340993,FROG LEGS,80200,"FROG LEGS,RAW",0.1,Data.Vitamins.Vitamin K,1181,Data,Vitamins,Vitamin K
340994,MACKEREL,83110,"MACKEREL,SALTED",7.8,Data.Vitamins.Vitamin K,611,Data,Vitamins,Vitamin K
340995,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.2,Data.Vitamins.Vitamin K,659,Data,Vitamins,Vitamin K
340996,SNAIL,90560,"SNAIL,RAW",0.1,Data.Vitamins.Vitamin K,1182,Data,Vitamins,Vitamin K
340997,TURTLE,93600,"TURTLE,GREEN,RAW",0.1,Data.Vitamins.Vitamin K,1183,Data,Vitamins,Vitamin K

In [57]:
food_tbl=food_tbl.merge(essential_nutrients, on="nutrient_name",how='left')
food_tbl

,desc_category,Nutrient Data Bank Number,Description,quantity,nutrient,ID_category,Data,Category,nutrient_name,ID_essengroup,ID_nutrient
0,BUTTER,1001,"BUTTER,WITH SALT",0,Data.Alpha Carotene,1,Data,Alpha Carotene,None,NaN,NaN
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0,Data.Alpha Carotene,1,Data,Alpha Carotene,None,NaN,NaN
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0,Data.Alpha Carotene,2,Data,Alpha Carotene,None,NaN,NaN
3,CHEESE,1004,"CHEESE,BLUE",0,Data.Alpha Carotene,3,Data,Alpha Carotene,None,NaN,NaN
4,CHEESE,1005,"CHEESE,BRICK",0,Data.Alpha Carotene,3,Data,Alpha Carotene,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340993,FROG LEGS,80200,"FROG LEGS,RAW",0.1,Data.Vitamins.Vitamin K,1181,Data,Vitamins,Vitamin K,4.0,18.0
340994,MACKEREL,83110,"MACKEREL,SALTED",7.8,Data.Vitamins.Vitamin K,611,Data,Vitamins,Vitamin K,4.0,18.0
340995,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.2,Data.Vitamins.Vitamin K,659,Data,Vitamins,Vitamin K,4.0,18.0
340996,SNAIL,90560,"SNAIL,RAW",0.1,Data.Vitamins.Vitamin K,1182,Data,Vitamins,Vitamin K,4.0,18.0
340997,TURTLE,93600,"TURTLE,GREEN,RAW",0.1,Data.Vitamins.Vitamin K,1183,Data,Vitamins,Vitamin K,4.0,18.0

In [58]:
food_tbl=food_tbl.rename(columns={"Nutrient Data Bank Number":"id_food","Description":"food_desc"})
food_tbl

,desc_category,id_food,food_desc,quantity,nutrient,ID_category,Data,Category,nutrient_name,ID_essengroup,ID_nutrient
0,BUTTER,1001,"BUTTER,WITH SALT",0,Data.Alpha Carotene,1,Data,Alpha Carotene,None,NaN,NaN
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0,Data.Alpha Carotene,1,Data,Alpha Carotene,None,NaN,NaN
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0,Data.Alpha Carotene,2,Data,Alpha Carotene,None,NaN,NaN
3,CHEESE,1004,"CHEESE,BLUE",0,Data.Alpha Carotene,3,Data,Alpha Carotene,None,NaN,NaN
4,CHEESE,1005,"CHEESE,BRICK",0,Data.Alpha Carotene,3,Data,Alpha Carotene,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340993,FROG LEGS,80200,"FROG LEGS,RAW",0.1,Data.Vitamins.Vitamin K,1181,Data,Vitamins,Vitamin K,4.0,18.0
340994,MACKEREL,83110,"MACKEREL,SALTED",7.8,Data.Vitamins.Vitamin K,611,Data,Vitamins,Vitamin K,4.0,18.0
340995,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.2,Data.Vitamins.Vitamin K,659,Data,Vitamins,Vitamin K,4.0,18.0
340996,SNAIL,90560,"SNAIL,RAW",0.1,Data.Vitamins.Vitamin K,1182,Data,Vitamins,Vitamin K,4.0,18.0
340997,TURTLE,93600,"TURTLE,GREEN,RAW",0.1,Data.Vitamins.Vitamin K,1183,Data,Vitamins,Vitamin K,4.0,18.0

In [ ]:
food_tbl = food_tbl.drop(['desc_category','C'], axis=1)

In [ ]:
rds_connection_string = "postgres:<pass>@localhost:5432/ELT_Happiness"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
data_df.to_sql(name='indicators_data', con=engine, if_exists='append', index=False)