In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
file="food.csv"
data= pd.read_csv(file)
data

,Category,Description,Nutrient Data Bank Number,Data.Alpha Carotene,Data.Ash,Data.Beta Carotene,Data.Beta Cryptoxanthin,Data.Carbohydrate,Data.Cholesterol,Data.Choline,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0,2.11,158,0,0.06,215,19,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0,2.11,158,0,0.06,219,19,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0,0.00,193,0,0.00,256,22,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,0,5.11,74,0,2.34,75,15,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,0,3.18,76,0,2.79,94,15,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7408,FROG LEGS,"FROG LEGS,RAW",80200,0,1.40,0,0,0.00,50,65,...,285,58,1.00,50,15,0.40,0.120,0.0,1.00,0.1
7409,MACKEREL,"MACKEREL,SALTED",83110,0,13.40,0,0,0.00,95,95,...,520,4450,1.10,157,47,12.00,0.410,0.0,2.38,7.8
7410,SCALLOP,"SCALLOP,(BAY&SEA),CKD,STMD",90240,0,3.06,0,0,0.00,53,81,...,476,265,3.00,100,30,1.30,0.100,0.0,1.50,0.2
7411,SNAIL,"SNAIL,RAW",90560,0,1.30,0,0,2.00,50,65,...,382,70,1.00,100,30,0.50,0.130,0.0,5.00,0.1
7412,TURTLE,"TURTLE,GREEN,RAW",93600,0,1.20,0,0,0.00,50,65,...,230,68,1.00,100,30,1.00,0.120,0.0,0.50,0.1

In [3]:
#removal of columns that we won't use from the first csv
food_analysis_df= data[['Category', 'Description', 'Nutrient Data Bank Number','Data.Carbohydrate', 'Data.Cholesterol', 'Data.Fiber', 'Data.Kilocalories', 'Data.Protein', 'Data.Sugar Total', 'Data.Water', 'Data.Fat.Monosaturated Fat', 'Data.Fat.Polysaturated Fat', 'Data.Fat.Saturated Fat', 'Data.Fat.Total Lipid', 'Data.Major Minerals.Copper', 'Data.Major Minerals.Iron', 'Data.Major Minerals.Magnesium', 'Data.Major Minerals.Phosphorus','Data.Major Minerals.Potassium', 'Data.Major Minerals.Sodium', 'Data.Major Minerals.Zinc', 'Data.Vitamins.Vitamin A - IU','Data.Vitamins.Vitamin A - RAE','Data.Vitamins.Vitamin B12', 'Data.Vitamins.Vitamin B6', 'Data.Vitamins.Vitamin C', 'Data.Vitamins.Vitamin E', 'Data.Vitamins.Vitamin K']]
food_analysis_df.head()

,Category,Description,Nutrient Data Bank Number,Data.Carbohydrate,Data.Cholesterol,Data.Fiber,Data.Kilocalories,Data.Protein,Data.Sugar Total,Data.Water,...,Data.Major Minerals.Potassium,Data.Major Minerals.Sodium,Data.Major Minerals.Zinc,Data.Vitamins.Vitamin A - IU,Data.Vitamins.Vitamin A - RAE,Data.Vitamins.Vitamin B12,Data.Vitamins.Vitamin B6,Data.Vitamins.Vitamin C,Data.Vitamins.Vitamin E,Data.Vitamins.Vitamin K
0,BUTTER,"BUTTER,WITH SALT",1001,0.06,215,0.0,717,0.85,0.06,15.87,...,24,576,0.09,2499,684,0.17,0.003,0.0,2.32,7.0
1,BUTTER,"BUTTER,WHIPPED,WITH SALT",1002,0.06,219,0.0,717,0.85,0.06,15.87,...,26,827,0.05,2499,684,0.13,0.003,0.0,2.32,7.0
2,BUTTER OIL,"BUTTER OIL,ANHYDROUS",1003,0.00,256,0.0,876,0.28,0.00,0.24,...,5,2,0.01,3069,840,0.01,0.001,0.0,2.80,8.6
3,CHEESE,"CHEESE,BLUE",1004,2.34,75,0.0,353,21.40,0.50,42.41,...,256,1395,2.66,763,198,1.22,0.166,0.0,0.25,2.4
4,CHEESE,"CHEESE,BRICK",1005,2.79,94,0.0,371,23.24,0.51,41.11,...,136,560,2.60,1080,292,1.26,0.065,0.0,0.26,2.5

In [4]:
nutrients=pd.DataFrame(list(food_analysis_df.columns.values))

In [5]:
nutrients=nutrients[0].str.split(".", expand=True)

## Essential Nutrient Group

In [6]:
#Create essential nutrient group table
essential_nutrient_group= nutrients[[1]].copy()

In [7]:
essential_nutrient_group= essential_nutrient_group.dropna().reset_index(drop=True)

In [8]:
essential_nutrient_group= essential_nutrient_group.rename(columns={1:"group_name"})

In [9]:
essential_nutrient_group['group_name'] = essential_nutrient_group['group_name'].replace(
    {'Carbohydrate': 'Others', 'Cholesterol': 'Others','Fiber': 'Others','Kilocalories': 'Others',
    'Protein': 'Others','Sugar Total': 'Others','Water': 'Others'})

In [10]:
essential_nutrient_group= essential_nutrient_group.drop_duplicates().reset_index(drop=True)

In [11]:
essential_nutrient_group.insert(0,'id_essengroup',range(1,1+len(essential_nutrient_group)))
essential_nutrient_group

   id_essengroup      group_name
0              1          Others
1              2             Fat
2              3  Major Minerals
3              4        Vitamins

## Essential Nutrients

In [12]:
essential_nutrients= nutrients[[1,2]].copy()

In [13]:
for index, row_value in enumerate(essential_nutrients[2].isnull()):
    if row_value:
         essential_nutrients.at[index, 2] = essential_nutrients.at[index, 1]

In [14]:
essential_nutrients= essential_nutrients.dropna()
essential_nutrients.iloc[0:7,0]="Others"
essential_nutrients= essential_nutrients.rename(columns={1:"group_name",2:"nutrient_name"})
essential_nutrients.insert(0,'id_nutrient',range(1,1+len(essential_nutrients)))
essential_nutrients=essential_nutrient_group.merge(essential_nutrients, on="group_name",how='left')
essential_nutrients= essential_nutrients.dropna()
essential_nutrients=essential_nutrients.drop(['group_name'], axis=1)
essential_nutrients= essential_nutrients.reindex(columns=['id_nutrient','id_essengroup','nutrient_name'])
essential_nutrients

    id_nutrient  id_essengroup      nutrient_name
0             1              1       Carbohydrate
1             2              1        Cholesterol
2             3              1              Fiber
3             4              1       Kilocalories
4             5              1            Protein
5             6              1        Sugar Total
6             7              1              Water
7             8              2  Monosaturated Fat
8             9              2  Polysaturated Fat
9            10              2      Saturated Fat
10           11              2        Total Lipid
11           12              3             Copper
12           13              3               Iron
13           14              3          Magnesium
14           15              3         Phosphorus
15           16              3          Potassium
16           17              3             Sodium
17           18              3               Zinc
18           19              4     Vitamin A - IU
19           20              4    Vitamin A - RAE
20           21              4        Vitamin B12
21           22              4         Vitamin B6
22           23              4          Vitamin C
23           24              4          Vitamin E
24           25              4          Vitamin K

# Food Category

In [15]:
#Create food category table
food_category= data[["Category"]].copy()
food_category= food_category.drop_duplicates().reset_index(drop=True)
food_category=food_category.rename(columns={"Category":"desc_category"})
food_category.insert(0,'id_category',range(1,1+len(food_category)))
food_category

      id_category           desc_category
0               1                  BUTTER
1               2              BUTTER OIL
2               3                  CHEESE
3               4               CHEESE FD
4               5             CHEESE SPRD
...           ...                     ...
1178         1179            COCKTAIL MIX
1179         1180  FRUIT-FLAVORED DRK MIX
1180         1181               FROG LEGS
1181         1182                   SNAIL
1182         1183                  TURTLE

[1183 rows x 2 columns]

# Food tbl

In [16]:
food= food_analysis_df[["Category","Nutrient Data Bank Number","Description"]].copy()
column=food_analysis_df["Data.Carbohydrate"].copy()
food["nutrient_amount"]=column
food["nutrient"]= "Data.Carbohydrate"

In [17]:
iterate=food_analysis_df.columns[3:]

food_tbl=pd.DataFrame()

for column_name in iterate:
    food= food_analysis_df[["Category","Nutrient Data Bank Number","Description"]].copy()
    column=food_analysis_df[column_name].copy()
    food["nutrient_amount"]=column
    food["nutrient"]= column_name
    food_tbl=food_tbl.append(food, ignore_index=True)
    
food_tbl

,Category,Nutrient Data Bank Number,Description,nutrient_amount,nutrient
0,BUTTER,1001,"BUTTER,WITH SALT",0.06,Data.Carbohydrate
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0.06,Data.Carbohydrate
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0.00,Data.Carbohydrate
3,CHEESE,1004,"CHEESE,BLUE",2.34,Data.Carbohydrate
4,CHEESE,1005,"CHEESE,BRICK",2.79,Data.Carbohydrate
...,...,...,...,...,...
185320,FROG LEGS,80200,"FROG LEGS,RAW",0.10,Data.Vitamins.Vitamin K
185321,MACKEREL,83110,"MACKEREL,SALTED",7.80,Data.Vitamins.Vitamin K
185322,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.20,Data.Vitamins.Vitamin K
185323,SNAIL,90560,"SNAIL,RAW",0.10,Data.Vitamins.Vitamin K
185324,TURTLE,93600,"TURTLE,GREEN,RAW",0.10,Data.Vitamins.Vitamin K

In [18]:
food_tbl=food_tbl.rename(columns={"Category":"desc_category"})
food_tbl=food_tbl.merge(food_category, on="desc_category",how='left')
food_tbl[['Data','Category','nutrient_name']]=food_tbl['nutrient'].str.split('.',expand=True)
food_tbl

,desc_category,Nutrient Data Bank Number,Description,nutrient_amount,nutrient,id_category,Data,Category,nutrient_name
0,BUTTER,1001,"BUTTER,WITH SALT",0.06,Data.Carbohydrate,1,Data,Carbohydrate,None
1,BUTTER,1002,"BUTTER,WHIPPED,WITH SALT",0.06,Data.Carbohydrate,1,Data,Carbohydrate,None
2,BUTTER OIL,1003,"BUTTER OIL,ANHYDROUS",0.00,Data.Carbohydrate,2,Data,Carbohydrate,None
3,CHEESE,1004,"CHEESE,BLUE",2.34,Data.Carbohydrate,3,Data,Carbohydrate,None
4,CHEESE,1005,"CHEESE,BRICK",2.79,Data.Carbohydrate,3,Data,Carbohydrate,None
...,...,...,...,...,...,...,...,...,...
185320,FROG LEGS,80200,"FROG LEGS,RAW",0.10,Data.Vitamins.Vitamin K,1181,Data,Vitamins,Vitamin K
185321,MACKEREL,83110,"MACKEREL,SALTED",7.80,Data.Vitamins.Vitamin K,611,Data,Vitamins,Vitamin K
185322,SCALLOP,90240,"SCALLOP,(BAY&SEA),CKD,STMD",0.20,Data.Vitamins.Vitamin K,659,Data,Vitamins,Vitamin K
185323,SNAIL,90560,"SNAIL,RAW",0.10,Data.Vitamins.Vitamin K,1182,Data,Vitamins,Vitamin K
185324,TURTLE,93600,"TURTLE,GREEN,RAW",0.10,Data.Vitamins.Vitamin K,1183,Data,Vitamins,Vitamin K

In [19]:
for index, row_value in enumerate(food_tbl['nutrient_name'].isnull()):
    if row_value:
         food_tbl.at[index, "nutrient_name"] = food_tbl.at[index, "Category"]

In [20]:
food_tbl=food_tbl.merge(essential_nutrients, on="nutrient_name",how='left')
food_tbl=food_tbl.rename(columns={"Nutrient Data Bank Number":"id_food","Description":"food_desc"})
food_tbl = food_tbl.drop(['desc_category','nutrient','Data','Category','nutrient_name','id_essengroup'], axis=1)
food_tbl = food_tbl.reindex(columns=['id_food','food_desc','id_category','id_nutrient','nutrient_amount'])
food_tbl

,id_food,food_desc,id_category,id_nutrient,nutrient_amount
0,1001,"BUTTER,WITH SALT",1,1,0.06
1,1002,"BUTTER,WHIPPED,WITH SALT",1,1,0.06
2,1003,"BUTTER OIL,ANHYDROUS",2,1,0.00
3,1004,"CHEESE,BLUE",3,1,2.34
4,1005,"CHEESE,BRICK",3,1,2.79
...,...,...,...,...,...
185320,80200,"FROG LEGS,RAW",1181,25,0.10
185321,83110,"MACKEREL,SALTED",611,25,7.80
185322,90240,"SCALLOP,(BAY&SEA),CKD,STMD",659,25,0.20
185323,90560,"SNAIL,RAW",1182,25,0.10
185324,93600,"TURTLE,GREEN,RAW",1183,25,0.10

# Create Database Connection

In [21]:
rds_connection_string = "postgres:123456@localhost:5432/food_nutrients"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [22]:
engine.table_names()

[]

# Load dataframes to SQL

In [23]:
essential_nutrient_group.to_sql(name='essential_nutrient_group', con=engine, if_exists='append', index=False)

In [24]:
essential_nutrients.to_sql(name='essential_nutrients', con=engine, if_exists='append', index=False)

In [25]:
food_category.to_sql(name='food_category', con=engine, if_exists='append', index=False)

In [26]:
food_tbl.to_sql(name='food_tbl', con=engine, if_exists='append', index=False)